li {

    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;

}

header {

    display: flex;
    background-color: #000000;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
   

}

.navHorizontal {

    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 17px;
    color: #FFFFFF;


}
img {

    cursor: pointer;

}